@using Demizon.Mvc.ViewModels
<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">@Localizer[nameof(DemizonLocales.Event)] - @Localizer[nameof(DemizonLocales.Form)]</MudText>
    </TitleContent>

    <DialogContent>
        <MudTextField @bind-Value="EventModel.Name" Label="@Localizer[nameof(DemizonLocales.Name)]"></MudTextField>
        <MudDateRangePicker @bind-DateRange="EventModel.Date" Label="@Localizer[nameof(DemizonLocales.When)]"></MudDateRangePicker>
        <MudTextField @bind-Value="EventModel.Place" Label="@Localizer[nameof(DemizonLocales.Place)]"></MudTextField>
        <MudTextField @bind-Value="EventModel.Information"
                      Label="@Localizer[nameof(DemizonLocales.Information)]">
        </MudTextField>
        <MudCheckBox @bind-Value="EventModel.IsPublic" Label="@Localizer[nameof(DemizonLocales.IsVisible)]"></MudCheckBox>
    </DialogContent>

    <DialogActions>
        <MudButton OnClick="Cancel">@Localizer[nameof(DemizonLocales.Cancel)]</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ClickedOk">
            @if (IsUpdate)
            {
                <span>@Localizer[nameof(DemizonLocales.Update)]</span>
            }
            else
            {
                <span>@Localizer[nameof(DemizonLocales.Create)]</span>
            }
        </MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter] public EventViewModel EventModel { get; set; } = new();

    [Parameter] public bool IsUpdate { get; set; }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private void ClickedOk()
    {
        MudDialog.Close(DialogResult.Ok(EventModel));
    }

}