@using Demizon.Mvc.ViewModels
<MudDialog>
    <DialogContent>
        @if (Model.Event is not null)
        {
            <MudText Align="Align.Center" Typo="Typo.h4">
                @(Model.Event.Name + " ")
                @if (Model.Event.DateFrom == Model.Event.DateTo)
                {
                    @(Model.Event.DateFrom.ToString("dd.MM."))
                }
                else
                {
                    @(Model.Event.DateFrom.ToString("dd.MM.") + " - " + Model.Event.DateTo.ToString("dd.MM."))
                }

            </MudText>
        }
        else
        {
            @Model.Date.ToString("dd.MM.")
        }
        <MudCheckBox @bind-Value="Model.Attends" Label="@Localizer[nameof(DemizonLocales.Attends)]"/>
        <MudTextField @bind-Value="Model.Comment" AutoGrow="true" Label="@Localizer[nameof(DemizonLocales.Comment)]"/>
    </DialogContent>

    <DialogActions>
        <MudButton OnClick="Cancel">@Localizer[nameof(DemizonLocales.Cancel)]</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ClickedOk">
            <span>@Localizer[nameof(DemizonLocales.Confirm)]</span>
        </MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter] public AttendanceViewModel Model { get; set; } = new();

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private void ClickedOk()
    {
        MudDialog.Close(DialogResult.Ok(Model));
    }

}
