@page "/Login"
@page "/Login/{E:bool}"
@using Demizon.Mvc.ViewModels

<AuthorizeView Roles="Admin,Standard">
    <Authorized>
        <MudText Typo="Typo.body1">Hello, @context.User.Identity?.Name!</MudText>
        <MudButton ButtonType="ButtonType.Submit" Size="Size.Medium" Variant="Variant.Outlined"
                   Href="/Logout">
            @Localizer[nameof(DemizonLocales.Logout)]
        </MudButton>
    </Authorized>

    <NotAuthorized>
        <MudText Typo="Typo.h3">@Localizer[nameof(DemizonLocales.SignIn)]</MudText>
        <form action="/ProcessLogin" method="post">
            <MudTextField @bind-Value="Model.Login" Name="Login" Required="true"
                          Label="@Localizer[nameof(DemizonLocales.Login)]">
            </MudTextField>
            <MudTextField @bind-Value="Model.Password" Name="Password" Required="true"
                          Label="@Localizer[nameof(DemizonLocales.Password)]"
                          InputType="InputType.Password">
            </MudTextField>
            @if (E)
            {
                <MudText Typo="Typo.body1">@Localizer[nameof(DemizonLocales.InvalidSignIn)]</MudText>
            }
            <MudButton ButtonType="ButtonType.Submit" Size="Size.Medium"
                       Variant="Variant.Outlined">
                @Localizer[nameof(DemizonLocales.SignIn)]
            </MudButton>
        </form>
    </NotAuthorized>
</AuthorizeView>


@code {
    private MemberViewModel Model { get; set; } = new();

    [Parameter] public bool E { get; set; } = false;

}
