<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

<MudThemeProvider Theme="MyCustomTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

@code{

    MudTheme MyCustomTheme = new MudTheme
    {
        Palette = new PaletteLight
        {
            Primary = Colors.Green.Default,
            Secondary = Colors.LightGreen.Default,
            AppbarBackground = Colors.LightGreen.Default,
        },
        PaletteDark = new PaletteDark
        {
            Primary = Colors.Blue.Lighten1
        },
        LayoutProperties = new LayoutProperties
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px"
        }
    };

}
