<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <MudLink Href="/">
            <MudText Typo="Typo.h5" Class="mud-text-align-center">Demizon</MudText>
        </MudLink>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@(NavigationManager.BaseUri + "Admin/Events")" >
                <span class="oi oi-calendar" aria-hidden="true"></span> Events
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@(NavigationManager.BaseUri + "Admin/Videos")">
                <span class="oi oi-video" aria-hidden="true"></span> Videos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@(NavigationManager.BaseUri + "Admin/Users")">
                <span class="oi oi-person" aria-hidden="true"></span> Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@(NavigationManager.BaseUri + "Admin/Members")">
                <span class="oi oi-people" aria-hidden="true"></span> Members
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool CollapseNavMenu = true;

    private string? NavMenuCssClass => CollapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        CollapseNavMenu = !CollapseNavMenu;
    }
}
