@page "/Members"
@using Demizon.Core.Services.Member
@using Demizon.Dal.Entities
@using Demizon.Mvc.ViewModels
@using Microsoft.EntityFrameworkCore

<PageTitle>@PageService.GetTitle()</PageTitle>

<MudText Typo="Typo.h4" Class="mb-4">@Localizer[nameof(DemizonLocales.Members)]</MudText>

@if (VisibleMembers.Count == 0)
{
    <MudText Typo="Typo.body1" Color="Color.Secondary">@Localizer[nameof(DemizonLocales.NoMembersToDisplay)]</MudText>
}
else
{
    <MudText Typo="Typo.h5" Class="mb-3">@Localizer[nameof(DemizonLocales.Men)]</MudText>
    <MudGrid Spacing="3" Class="mb-6">
        @foreach (var member in VisibleMembers.Where(x => x.Gender == Gender.Male))
        {
            <MudItem xs="6" sm="4" md="3">
                <MudCard Elevation="2" Class="demi-member-card">
                    @{
                        var photo = member.Photos.FirstOrDefault()?.Path;
                    }
                    @if (photo is not null)
                    {
                        <MudCardMedia Image="@photo" Height="180"/>
                    }
                    else
                    {
                        <div class="demi-member-avatar">
                            <MudIcon Icon="@Icons.Material.Filled.Person" Size="Size.Large" Style="color: rgba(155,26,26,0.3); font-size: 4rem;"/>
                        </div>
                    }
                    <MudCardContent Class="pa-2">
                        <MudText Typo="Typo.subtitle1" Align="Align.Center">
                            <strong>@member.Name @member.Surname</strong>
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    </MudGrid>

    <MudDivider Class="mb-4"/>

    <MudText Typo="Typo.h5" Class="mb-3">@Localizer[nameof(DemizonLocales.Women)]</MudText>
    <MudGrid Spacing="3">
        @foreach (var member in VisibleMembers.Where(x => x.Gender == Gender.Female))
        {
            <MudItem xs="6" sm="4" md="3">
                <MudCard Elevation="2" Class="demi-member-card">
                    @{
                        var photoF = member.Photos.FirstOrDefault()?.Path;
                    }
                    @if (photoF is not null)
                    {
                        <MudCardMedia Image="@photoF" Height="180"/>
                    }
                    else
                    {
                        <div class="demi-member-avatar">
                            <MudIcon Icon="@Icons.Material.Filled.Person" Size="Size.Large" Style="color: rgba(155,26,26,0.3); font-size: 4rem;"/>
                        </div>
                    }
                    <MudCardContent Class="pa-2">
                        <MudText Typo="Typo.subtitle1" Align="Align.Center">
                            <strong>@member.Name @member.Surname</strong>
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
}

@code {

    [Inject] private IMemberService MemberService { get; set; } = null!;

    private List<MemberViewModel> VisibleMembers { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        PageService.SetTitle(@Localizer[nameof(DemizonLocales.Members)]);
        var members = await MemberService.GetAll().Where(x => x.IsVisible).OrderBy(x => x.Surname).ToListAsync();
        VisibleMembers = members.Select(x => x.ToViewModel()).ToList();
    }

}
